<%- include('common/header.ejs') %>
  
  <div class="container empty-background">
    <nav class="nav">
      <p class="title">용계역 여행</p>
      <div class="sub-title">소개</div>
    </nav>
    <div class="content-container">
    <a href="/login">로그인하러가기 -></a>
    </div>
  </div>

  <%- include('common/footer.ejs') %>
  </body>
</html>
